<div *ngIf="cartList.length > 0" class="d-flex justify-content-around">
  <div class="d-flex flex-column" style="width: 48%;">
    <div
      *ngFor="let pro of cartList; let i = index"
      class="d-flex justify-content-center mt-5 align-items-center"
    >
      <img
        style="
          width: 150px;
          height: 200px;
          margin-right: 20px;
          border-radius: 10px;
        "
        src="{{ pro.thumbnail }}"
      />
      <div class="d-flex flex-column align-items-center">
        <p class="mb-3">{{ pro.title }}</p>
        <p class="mb-3">{{ pro.price | currency }}</p>
        <p class="mb-3">Amount: {{ pro.amount }}</p>
        <fa-icon
          [icon]="deleteIcon"
          class="btn-primary"
          (click)="deleteItem(i)"
        ></fa-icon>
      </div>
    </div>
    <h4>Total:{{ price | currency }}</h4>
  </div>

  <form
    #form="ngForm"
    (ngSubmit)="onSubmit()"
    class="d-flex flex-column"
    style="width: 48%; margin-top: 30px;"
  >
  <div style="width: 90%;">
    <label>User Name</label>
    <input
      class="mb-3"
      style="width: 100%;"
      minlength="3"
      type="text"
      name="userName"
      placeholder="minimum character 3"
      required
      [(ngModel)]="userName"
      #name="ngModel"
      (ngModelChange)="onUserNameChange($event)"/>
      <div  *ngIf="name.invalid && (name.dirty || name.touched)"
  class="alert m-0 mb-3 p-0">

<div *ngIf="name.errors?.['required']" style="color:red;">
  <fa-icon [icon]="xMark" style="color: red;"></fa-icon> Name is required.
</div>
<div *ngIf="name.errors?.['minlength']">
  Name must be at least 4 characters long.
</div>
  </div>
  </div>

    
  <div style="width: 90%;">
    <label>User Address</label>
    <input
      class="mb-3"
      style="width: 100%;"
      minlength="6"
      type="text"
      name="adress"
      placeholder="minimum character 6"
      required
      [(ngModel)] = "address"
      #useraddress="ngModel"
     
    />
  
    <div  *ngIf="useraddress.invalid && (useraddress.dirty || useraddress.touched)"
    class="alert m-0 mb-3 p-0">

  <div *ngIf="useraddress.errors?.['required']" style="color:red;">
    <fa-icon [icon]="xMark" style="color: red;"></fa-icon> adress is required.
  </div>
  <div *ngIf="useraddress.errors?.['minlength']">
    <fa-icon [icon]="xMark" style="color: red;"></fa-icon> Name must be at least 6 characters long.
  </div>
    </div>
   
  </div>

   

    <div style="width: 90%;">
      <label>Credit Card</label>
      <input
        class="mb-3"
        style="width: 100%;"
        pattern=".{16,16}"
        
       minlength="16"
        type="number"
        required
        name="credit"
        placeholder="(16-digits number)"
        [(ngModel)]="userCard"
        #card="ngModel"
       />
       <div  *ngIf="card.invalid && (card.dirty || card.touched)"
    class="alert m-0 mb-3 p-0">

  <div *ngIf="card.errors?.['required']" style="color:red;">
    <fa-icon [icon]="xMark" style="color: red;"></fa-icon> card number is required.
  </div>
  <div *ngIf="card.errors?.['pattern']">
    <fa-icon [icon]="xMark" style="color: red;"></fa-icon> card must be at least 16 numbers long.
  </div>
    </div>
       
    </div>
    <button
      routerLink="/order"
      type="submit"
      (click)="onSubmit()"
      class="btn btn-primary w-25"
      [disabled]="!form.valid"
    >
      Submit
    </button>
  </form>
</div>
<div
  *ngIf="cartList.length == 0"
  class="w-100 h-100 d-flex align-items-center justify-content-center"
>
  <p class="fs-3">Sorry Your Cart Is Empty</p>
</div>
